/*Styling of body*/
body {
    height: 100vh;
    margin: 0;
    border: 6px solid;
    box-sizing: border-box;
    background-color: green;
    overflow: hidden;
}

/*Styling of navigation*/
.navigation {
    width: auto;
    height: 76px;
    border-width: 0px 0px 6px 0px;
    border-style: solid;
    background-color: rgba(112, 125, 33, 0.987);
}

/*Styling of container*/
.container {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
}

/*Styling of square1*/
.square1 {
    width: 130px;
    height: 130px;
    margin: 32px 0px 0px 176px;
    border: 4px solid black;
    background-color: red;
    transform: rotate(45deg);
}

/*Styling of square2*/
.square2 {
    width: 130px;
    height: 130px;
    margin-left: 34px;
    border: 4px solid black;
    background-color: red;
    transform: rotate(45deg);
}

/*Styling of div2*/
.div2 {
    display: flex;
    flex-direction: row;
    margin-top: 122px;
}

/*Styling of main-line*/
.main-line {
    display: flex;
    flex-direction: column;
}

/*Styling of line1*/
.line1 {
    width: 130px;
    height: 14px;
    border: 4px solid black;
    background-color: blue;
    margin: 17px 0px 40px 10px;
}

/*Styling of line2*/
.line2 {
    width: 130px;
    height: 14px;
    border: 4px solid black;
    background-color: blue;
    margin-left: 10px;
}

/*Styling of main-circle*/
.main-circle {
    display: flex; 
    flex-direction: column; 
    margin-right: 10px;
}

/*Styling of circle*/
.circle {
    width: 110px;
    height: 110px;
    border: 4px solid black;
    border-radius: 9999px;
    background-color: rgb(33, 149, 138);
    margin-left: 30px;
}

/*Styling of rectangle*/
.rectangle {
    width: 84%;
    height: 78vh;
    border: 4px solid black;
    background-color: white ;
    margin: 50px 30px 50px 0px; 
}

/*Styling of ABC*/
.ABC {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 68px;
    margin: 20px 60px 0px 60px;
}

/*For screens <= 582px*/
@media screen and (max-width: 583px) {
    .navigation {
        height: 58px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .div1 {
        width: 28%;
        height: 28vh;
    }

    .square1 {
        width: 100px;
        height: 100px;
        margin: 28px 0px 0px 140px;
    }
    
    .square2 {
        width: 100px;
        height: 100px;
        margin-left: 28px;
    }

    .div2 {
        margin-top: 50px;
    }

    .circle {
        width: 100px;
        height: 100px;
        margin-left: 23px;
    }

    .line1 {
        width: 100px;
        height: 11px;
        margin: 20px 0px 30px 8px;
    }
    
    .line2 {
        width: 100px;
        height: 11px;
        margin-left: 8px;
    }

    .rectangle {
        width: 170px;
        height: 41vh;
        margin: 18px 0px 0px 50px;
        background-color: blue;
    }

    .ABC {
        text-align: center;
        font-size: 48px;
        margin: 20px 0px 0px 0px;
    }
}

/*For screens 583-900px*/
@media screen and (min-width: 583px) and (max-width: 900px) {
    body {
        height: 100vh;
        display: grid;
    }
    
    .container {
        max-width: 80%;
        display: flex;
        flex-direction: column;
    }

    .div2 {
        margin-top: 61px;
        margin-bottom: 61px;
    }

    .rectangle {
        width: 200px;
        height: 80vh;
        position: absolute;
        right: -6px;
        top: 80px;
        background-color: rgb(183, 64, 64);
    }

    .ABC {
        margin: 20px 20px 0px 20px;
    }

    .div1 {
        margin-bottom: 280px;
    }
}