/*Styling of body*/
body {
    height: 100vh;
    margin: 0;
    border: 6px solid black;
    overflow: hidden;
    background-color: green;
}

/*Styling of navigation*/
.navigation {
    width: 100%;
    height: 38px;
    border: solid black;
    border-width: 0px 0px 6px 0px;
    background-color: rgba(112, 125, 33, 0.987);
}

/*Styling of container*/
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
}

/*Styling of square1*/
.square1 {
    width: 160px;
    height: 160px;
    margin: 40px 0px 0px 200px;
    border: 3px solid black;
    background-color: red;
    transform: rotate(45deg);
}

/*Styling of square2*/
.square2 {
    width: 160px;
    height: 160px;
    margin-left: 38px;
    border: 3px solid black;
    background-color: red;
    transform: rotate(45deg);
}

/*Styling of div2*/
.div2 {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

/*Styling of main-line*/
.main-line {
    display: flex;
    flex-direction: column;
}

/*Styling of line1*/
.line1 {
    width: 160px;
    height: 20px;
    border: 3px solid black;
    background-color: blue;
    margin: 25px 0px 60px 0px;
}

/*Styling of line2*/
.line2 {
    width: 160px;
    height: 20px;
    border: 3px solid black;
    background-color: blue;
}

/*Styling of main-circle*/
.main-circle {
    display: flex; 
    flex-direction: column; 
}

/*Styling of circle*/
.circle {
    width: 160px;
    height: 160px;
    border: 3px solid black;
    border-radius: 9999px;
    background-color: rgb(33, 149, 138);
    margin: 0px 0px 0px 40px;
}

/*Styling of div3*/
.div3 {
    display: flex; 
    flex-direction: column; 
}

/*Styling of rectangle*/
.rectangle {
    width: 300px;
    height: 800px;
    border: 3px solid black;
    background-color: white ;
    margin: 30px 30px 30px 0px;
}

/*Styling of ABC*/
.ABC {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100px;
    margin-top: 0;
}
