/*Styling of html*/
html {
    width: 100%;
    height: 100%;
}

/*Styling of body*/
body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 4px solid black;
    overflow: hidden;
    margin-right:20px;
}

/*Styling of navigation*/
.navigation {
    width: 100%;
    height: 38px;
    border: solid black;
    border-width: 0px 0px 4px 0px;
    background-color: rgba(112, 125, 33, 0.987);
}

/*Styling of container*/
.container {
    display: flex;
    flex-direction: row;
}

/*Styling of square1*/
.square1 {
    width: 160px;
    height: 160px;
    margin: 40px 0px 0px 200px;
    border: 3px solid black;
    background-color: red;
    transform:rotate(45deg);
}

/*Styling of square2*/
.square2 {
    width: 160px;
    height: 160px;
    margin-left: 38px;
    border: 3px solid black;
    background-color: red;
    transform: rotate(45deg);
}

/*Styling of div2*/
.div2 {
    display: flex;
    flex-direction: row;
    margin: 50px 0px 0px 200px;
}

/*Styling of linemain*/
.linemain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Styling of line1*/
.line1 {
    width:160px;
    height:20px;
    border: 3px solid black;
    background-color:blue;
    margin: 0px 0px 60px 0px;
}

/*Styling of line2*/
.line2 {
    width:160px;
    height:20px;
    border: 3px solid black;
    background-color:blue;
}

/*Styling of maincircle*/
.maincircle {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

/*Styling of circle*/
.circle {
    width: 160px;
    height: 160px;
    border: 3px solid black;
    border-radius: 9999px;
    background-color: rgb(33, 149, 138);
    margin: 0px 0px 0px 40px;
    justify-content: center;
    align-items: center;
}